## Passed Tests
<ol>
<% _.each(data.passedTests, function (testReport) { %>
<li><%= testReport.test.fullTitle() %></li>
<% }) %>
</ol>

## Failed Tests
<ol>
<% _.each(data.failedTests, function (testReport) { %>
<li><%= testReport.test.fullTitle() %>
<pre><code><%= testReport.error.stack.replace(/</g, '&lt;').replace(/>/g, '&gt;') %></code></pre>
</li>
<% }) %>
</ol>
