## Failed Tests
<ul>
<% _.each(data.failedTests, function (testReport) { %>
<li><%= testReport.test.fullTitle() %>
<pre><code><%= testReport.error.stack.replace(/</g, '&lt;').replace(/>/g, '&gt;') %></code></pre>
</li>
<% }) %>
</ul>
